body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  transform: scale(0.97);
}

.container {
  max-width: 1110px;
  margin: auto;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header__menu {
  margin-top: 40px;
  justify-content: flex-end;
}

.header__link {
  padding-left: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hero {
  background: url(../../img/hero/hero-bg.jpg) no-repeat center top;
  position: relative;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero__subtitle {
  margin-top: 320px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hero__title {
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  padding: 20px 0 50px 0;
}

.hero__btn {
  margin-bottom: 335px;
  width: 200px;
  height: 45px;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hero__btn:active {
  transform: scale(0.97);
}

.services__title {
  margin-top: 110px;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

.services__subtitle {
  margin-top: 50px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.services__btn {
  margin: 55px 0 105px 0;
  width: 200px;
  height: 45px;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.services__row {
  margin-top: 70px;
}

.services__item {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.services__text {
  padding-top: 12px;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.about {
  min-height: 800px;
  background-color: #F6F6F8;
}

.about__title {
  padding-top: 152px;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.about__description {
  padding-top: 40px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.about__link {
  display: block;
  padding-top: 30px;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985FF;
}

.about__img {
  padding: 100px 0 0 45px;
}

.about__hr {
  margin-top: 90px;
}

.about__project {
  justify-content: space-around;
}

.about__block {
  width: 105px;
  height: 90px;
  margin: 70px 0px 70px 95px;
}

.about__numbers {
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  padding-left: 20px;
}

.about__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}
