@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin blue-btn {
    width: 200px;
    height: 45px;
    background: $blue;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}