.services {
    &__title {
        margin-top: 110px;
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        text-align: center;
        color: $dark ;
    }
    &__subtitle {
        margin-top: 50px;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: $grey;
    }
    &__btn {
        margin: 0 0 105px 450px;
        @include blue-btn;
    }
    &__row {
        margin-top: 70px;
        justify-content: space-around;
    }
    &__icon {
        padding: 0 15px;
    }
    &__text {
        max-width: 226px;
        transform: translate(135px, -65px);
    }
    &__item {
        font-size: 18px;
        line-height: 22px;
        color: $black;
    }
    &__description {
        max-width: 222px;
        padding-top: 12px;
        font-size: 14px;
        line-height: 22px;
        color:$grey;
    }
}